<!-- Header -->
<section id="header">
	<header class="major">
		<h1>We're getting Married</h1>

		<p>
			Come celebrate with Kimberly and Alex as they embark on their
			next journey
			<span id='countdown' style='display:none'>
				in <span id='countdown-d'></span> day<span id='countdown-s-d'>s</span>, <span id='countdown-h'></span> hour<span id='countdown-s-h'>s</span>, <span id='countdown-m'></span> minute<span id='countdown-s-m'>s</span>, and <span id='countdown-s'></span> second<span id='countdown-s-s'>s</span>
			</span>!
		</p>
	</header>
	<div class="container">
		<ul class="actions">
			<li><a href="#intro" class="button special scrolly">Get Started!</a></li>
		</ul>
		<ul class="actions">
			<li><a href="#intro" class="scrolly">The Couple</a></li>
			<li><a href="#schedule" class="scrolly">Schedule</a></li>
			<li><a href="#directions" class="scrolly">Directions</a></li>
			<li><a href="#map" class="scrolly">Venue</a></li>
			<li><a href="#rsvp" class="scrolly">RSVP</a></li>
		</ul>
	</div>
</section>
