<!-- Header -->
<section id="header">
	<header class="major">
		<h1>We're getting Married</h1>
		<p>Come celebrate with Kimberly and Alex as they enbark on their next journey!</p>
	</header>
	<div class="container">
		<ul class="actions">
			<li><a href="#intro" class="button special scrolly">Get Started!</a></li>
		</ul>
		<ul class="actions">
			<li><a href="#intro" class="scrolly">The Couple</a></li>
			<li><a href="#schedule" class="scrolly">Schedule</a></li>
			<li><a href="#directions" class="scrolly">Directions</a></li>
			<li><a href="#map" class="scrolly">Venue</a></li>
			<li><a href="#rsvp" class="scrolly">RSVP</a></li>
		</ul>
	</div>
</section>
